<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yudie.yudiemainbackend.mapper.HotSearchMapper">

    <resultMap id="BaseResultMap" type="com.yudie.yudiemainbackend.model.entity.HotSearch">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="keyword" column="keyword" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="count" column="count" jdbcType="BIGINT"/>
            <result property="lastUpdateTime" column="lastUpdateTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,keyword,type,count,lastUpdateTime,createTime,
        updateTime,isDelete
    </sql>

    <insert id="batchInsertOrUpdate">
        INSERT INTO hot_search (keyword, type, count, lastUpdateTime)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.keyword}, #{item.type}, #{item.count}, #{item.lastUpdateTime})
        </foreach>
        ON DUPLICATE KEY UPDATE
        count = VALUES(count),
        lastUpdateTime = VALUES(lastUpdateTime)
    </insert>

    <select id="getHotSearchAfter" resultMap="BaseResultMap">
        SELECT *
        FROM hot_search
        WHERE type = #{type}
          AND lastUpdateTime >= #{startTime}
          AND isDelete = 0
        ORDER BY count DESC
            LIMIT #{limit}
    </select>

</mapper>
