<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yudie.yudiemainbackend.mapper.PostAttachmentMapper">

    <resultMap id="BaseResultMap" type="com.yudie.yudiemainbackend.model.entity.PostAttachment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="postId" column="postId" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="size" column="size" jdbcType="BIGINT"/>
            <result property="position" column="position" jdbcType="INTEGER"/>
            <result property="marker" column="marker" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,postId,type,url,name,size,
        position,marker,sort,createTime,updateTime,
        isDelete
    </sql>
</mapper>
